.Map {
    position: relative;
    overflow: hidden;
    background: black;
}

.Map > canvas, .Map > div {
    position: absolute;
    width: 100%;
    height: 100%;
}

.Map > div {
    pointer-events: none;
}
